/*.main {*/
  /*align-items: center;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*margin-top: 5%;*/
  /*margin-bottom: 5%;*/
/*}*/



.flex-containter {
  padding-top: 5%;
  display: flex;
  justify-content: center;
}

.element {
  max-height: 550px;
}
